[Desktop Entry]
Name=ez2Desk
NoDisplay=true
MimeType=x-scheme-handler/rustdesk;
TryExec=ez2desk
Exec=ez2desk %u
Icon=rustdesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=rustdesk
